

:root{

    --branco: white; 
--cor-de-fundo: #00162e; 
--fundo-senha: #00244d;
--fundo-texto: #001e40;
--borda: 'roboto mono' monospace;


}

body{
color:var(--branco);
background-color: var(--cor-de-fundo);
font-family: var(--roobot);
}

.titulo-principal{
    font-family: 
    


}
